@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v30-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #0c111b;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 4%;
  background: #0c111b;
  z-index: 9;
  display: flex;
  align-items: center;
}

.disney-logo {
  height: 50px;
  margin-right: 30px;
}

.nav-links {
  margin-top: 10px;
  display: flex;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  margin-left: 20px;
  text-transform: capitalize;
  color: #fff;
  opacity: 0.9;
  transition: 0.5s;
  border-radius: none;
}

.nav-items a:hover {
  font-weight: 300;
  font-size: 20px;
  border-bottom: 1px solid lightgray;
  color: gray;
}

.right-container {
  display: block;
  margin-left: auto;
}

.search-box {
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  width: 250px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}

.search-box:focus {
  width: 400px;
  border-color: #1f80e0;
}

.sub-btn {
  background: transparent;
  font-family: cursive;
  height: 30px;
  padding: 0.2px;
  color: goldenrod;
  border-radius: 5px;
  border: none;
  text-align: uppercase;
  font-weight: normal;
  font-size: 20px;
  margin: 0 10px;
  transition: 0.5s;
}

.sub-btn:hover {
  color: yellow;
}
.login-link {
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
}

.nav-buttons {
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .navbar {
    height: auto;
  }
  .navbar .nav-links {
    display: none;
  }
  .navbar .right-container {
    margin-left: 0;
  }
  .navbar .search-box {
    width: 100%;
    margin-top: 10px;
  }
  .navbar .sub-btn {
    margin-top: 10px;
  }
  .navbar .dropdown {
    float: none;
  }
  .navbar .dropdown-content {
    position: static;
    display: none;
    overflow: visible;
    background-color: #0c111b;
    width: 100%;
  }
  .navbar .dropdown:hover .dropdown-content {
    display: block;
  }
  .navbar .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .navbar .dropdown-content a {
    color: #fff;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #aaa;
  }
  .navbar .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 20px 0;
  overflow-x: hidden;
  margin-top: 80px;
}

.carousel {
  display: flex;
  width: 92%;
  height: 100%;
  position: relative;
  margin: auto;
}

.slider {
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;
}

.slider img {
  width: 70%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}

.slide-content {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, #030b17 80%, #0c111b00);
  color: #fff;
}

.movie-title {
  padding-left: 50px;
  text-transform: capitalize;
  margin-top: 80px;
}

.movie-des {
  width: 80%;
  line-height: 30px;
  padding-left: 50px;
  margin-top: 30px;
  opacity: 0.8;
}

.video-card-container {
  position: relative;
  width: 92%;
  margin: auto;
  height: 10vw;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.video-card {
  position: relative;
  min-width: calc(100% / 6 - 10px);
  width: calc(100% / 6 - 10px);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.video-card-image,
.card-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-video {
  position: absolute;
}

.video-card:hover .video-card-image {
  display: none;
}

.title {
  color: #fff;
  opacity: 0.9;
  padding-left: 4%;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 700;
}

.movies-list {
  width: 100%;
  height: 220px;
  position: relative;
  margin: 10px 0 20px;
}

.card-container {
  position: relative;
  width: 92%;
  padding-left: 10px;
  height: 220px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  min-width: 150px;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  transition: 0.5s;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .card-body {
  opacity: 1;
}

.card-body {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
  padding: 10px;
  transition: 0.5s;
}

.name {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 60%;
}

.des {
  color: #fff;
  opacity: 0.8;
  margin: 5px 0;
  font-weight: 500;
  font-size: 12px;
}

.watchlist-btn {
  position: relative;
  width: 100%;
  text-transform: capitalize;
  background: none;
  border: none;
  font-weight: 500;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  margin: 5px 0;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
}

.watchlist-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  height: 33px;
  width: 33px;
  background-image: url(images/add.png);
  background-size: cover;
  transform: scale(0.4);
}

.watchlist-btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.pre-btn,
.nxt-btn {
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  z-index: 2;
  border: none;
  cursor: pointer;
  outline: none;
}

.pre-btn {
  left: 0;
  background: linear-gradient(to right, #0c111b 0%, #0c111b00);
}

.nxt-btn {
  right: 0;
  background: linear-gradient(to left, #0c111b 0%, #0c111b00);
}

.pre-btn img,
.nxt-btn img {
  width: 15px;
  height: 20px;
  opacity: 0;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

footer {
  background-color: #0c111b;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-section,
.quick-links,
.disney {
  width: 30%;
  margin-bottom: 20px;
}

.contact-info,
.quick-links-content,
.disney-content {
  text-align: left;
}

.contact-info h4,
.quick-links-content h4,
.disney-content h4 {
  margin-bottom: 10px;
  color: #fff;
}

.contact-info p,
.quick-links-content p,
.disney p {
  margin: 5px 0;
  color: #aaa;
}

.gmail-link {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.gmail-link:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  color: #aaa;
}

.footer-bottom a {
  color: #4caf50;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.quick-links-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quick-links-content ul li {
  margin-bottom: 8px;
  transition: transform 0.3s ease-in-out;
}

.quick-links-content ul li a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

.quick-links-content ul li a:hover {
  color: #45a049;
}

.quick-links-content ul li:hover {
  transform: translateX(5px);
}
